body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.header {
  height: 100px;
  background-color: #0A043C;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__title {
  font-size: 50px;
  font-family: "Yanone Kaffeesatz", sans-serif;
  color: #A3DDCB;
}

.main-body {
  background-color: #03506F;
  min-height: calc(100vh - 220px);
  display: flex;
  padding: 10px 5px;
  align-items: center;
}

.container {
  background-color: #A3DDCB;
  border-radius: 15px;
  margin: 0px 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 15px;
}

.container__subtitle {
  color: #0A043C;
  font-size: 25px;
  font-family: "Yanone Kaffeesatz", sans-serif;
}

.container__form {
  display: flex;
  flex-direction: column;
}

.container__form--input-container, .container__form--output-container {
  display: flex;
  flex-direction: column;
  background-color: #0A043C;
  margin: 0px 5px 10px 5px;
  border-radius: 10px;
  padding: 5px;
  width: calc((100vw - 100px ) / 3);
}

.container__form--input {
  font-size: 20px;
  font-family: "Yanone Kaffeesatz", sans-serif;
  background-color: transparent;
  outline: none;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  color: #A3DDCB;
  border-bottom: solid 1px #A3DDCB;
}

.list-container {
  position: relative;
}

.list-container__list {
  position: absolute;
  background-color: #0A043C;
  color: #A3DDCB;
  border: 1px solid #A3DDCB;
  border-radius: 5px;
  top: 50px;
  left: 0px;
  z-index: 100;
  font-size: 20px;
  font-family: "Yanone Kaffeesatz", sans-serif;
  width: calc((100vw - 100px ) / 3);
  max-height: 20vh;
  overflow-y: scroll;
}

.list-container__list--option {
  padding: 5px;
  cursor: pointer;
}

.container__form--label, .container__form--output-label, .container__form--result-label {
  color: #A3DDCB;
  font-size: 20px;
  font-family: "Yanone Kaffeesatz", sans-serif;
}

.container__form--output-label {
  padding-left: 20px;
  margin-top: 10px;
}

.container__form--result-label {
  padding-left: 20px;
}

.container__form--input-check {
  display: none;
}

.container__form--input-check:checked ~ .container__form--checkmark {
  background-color: #03506F;
}

.container__form--checkmark {
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #A3DDCB;
}

.container__form--check-container {
  position: relative;
  padding-left: 20px;
  color: #A3DDCB;
  font-size: 20px;
  font-family: "Yanone Kaffeesatz", sans-serif;
  cursor: pointer;
  margin: 5px 10px;
}

.footer {
  background-color: #0A043C;
  height: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.footer__subtitle {
  font-size: 25px;
  font-family: "Yanone Kaffeesatz", sans-serif;
  color: #A3DDCB;
  margin: 25px 0px 10px 2vw;
}

.footer__link {
  text-decoration: none;
  cursor: pointer;
  color: #A3DDCB;
  margin: 0 0 0 2vw;
  font-size: 20px;
  font-family: "Yanone Kaffeesatz", sans-serif;
}

.footer__link:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: #03506F;
  }

  .header {
    height: 70px;
    border-radius: 0px 0px 10px 10px;
  }

  .header__title {
    font-size: 30px;
    font-weight: bold;
  }

  .main-body {
    scroll-snap-align: start;
    max-height: calc(100vh - 140px);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow-y: scroll;
    padding: 0;
  }

  .main-body__container {
    background: none;
  }

  .container {
    background-color: transparent;
    padding: 0;
  }

  .container__subtitle {
    font-size: 25px;
    font-weight: bold;
    color: #A3DDCB;
  }

  .container__form--input-container, .container__form--output-container {
    width: calc(100vw - 75px );
    background-color: #A3DDCB;
  }

  .container__form--label, .container__form--output-label,
.container__form--result-label, .container__form--input,
.container__form--check-container {
    color: #0A043C;
    font-size: 20px;
    font-weight: bold;
  }

  .container__form--check-container {
    padding-left: 17px;
  }

  .container__form--input {
    border-bottom: solid 2px #0A043C;
  }

  .container__form--checkmark {
    height: 16px;
    width: 16px;
    background-color: #03506F;
  }

  .container__form--input-check:checked ~ .container__form--checkmark {
    background-color: #A3DDCB;
    border: solid 4px #03506F;
    height: 8px;
    width: 8px;
  }

  .list-container__list {
    width: calc(100vw - 75px );
  }

  .footer {
    height: 70px;
    border-radius: 10px 10px 0px 0px;
    justify-content: center;
    align-items: center;
  }

  .footer__subtitle {
    font-size: 25px;
    margin: 10px 0px 5px 0px;
  }

  .footer__link {
    font-size: 20px;
    margin: 0;
  }
}

/*# sourceMappingURL=styles.css.map */
